body{
    background: #151320;
    margin-left: 100px;
    margin-right: 100px;
}

.titulo-principal{
    text-align: center;
    font-family:fantasy;
    font-weight: bold;
    color: #ffffff;
}

.apresentacao{
    text-align: center;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #a0a0a0;
    background: #1c1b29;
    border-radius: 20px;
}

.personagens{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    padding-right: 25px;
    padding-left: 25px;
    align-items: center;
    align-content: center;
    margin-top: 5%;
}

.Chaves{
    background: #1c1b29;
    border-radius: 20%;
    flex:1;
    transition-duration: 0.5s;
}

.Chiquinha{
    background: #1c1b29;
    border-radius: 20%;
    flex:1;
    transition-duration: 0.5s;
}

.Kiko{
    background: #1c1b29;
    border-radius: 20%;
    flex:1;
    transition-duration: 0.5s;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background: #1c1b29;
    text-align: center;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    color: #a0a0a0;
}

.Chaves:hover{
    transform: scale(1.1);
}

.Chiquinha:hover{
    transform: scale(1.1);
}

.Kiko:hover{
    transform: scale(1.1);
}

button{
    background: #a0a0a0;
    color: #1c1b29;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.Acapulco{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    padding-right: 25px;
    padding-left: 25px;
    align-items: center;
    align-content: center;
    margin-top: 5%;
    background: #1c1b29;
    border-radius: 20%;
    flex:1;
}

button:hover{
    transform: scale(1.1);
}